mixin icon( name )
	case name
		when 'question'
			svg( class="icon-question" height="21px" width="21px" viewBox="0 0 512 512" )
				g( fill="#979797" )
					path( d="m277.332031 384c0 11.78125-9.550781 21.332031-21.332031 21.332031s-21.332031-9.550781-21.332031-21.332031 9.550781-21.332031 21.332031-21.332031 21.332031 9.550781 21.332031 21.332031zm0 0" )
					path( d="m256 512c-141.164062 0-256-114.835938-256-256s114.835938-256 256-256 256 114.835938 256 256-114.835938 256-256 256zm0-480c-123.519531 0-224 100.480469-224 224s100.480469 224 224 224 224-100.480469 224-224-100.480469-224-224-224zm0 0" )
					path( d="m256 314.667969c-8.832031 0-16-7.167969-16-16v-21.546875c0-20.308594 12.886719-38.507813 32.042969-45.269532 25.492187-8.980468 42.625-36.140624 42.625-55.851562 0-32.363281-26.304688-58.667969-58.667969-58.667969s-58.667969 26.304688-58.667969 58.667969c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16c0-49.984375 40.664063-90.667969 90.667969-90.667969s90.667969 40.683594 90.667969 90.667969c0 35.585938-28.097657 73.367188-63.980469 86.039062-6.398438 2.238282-10.6875 8.316407-10.6875 15.101563v21.527344c0 8.832031-7.167969 16-16 16zm0 0" )
			- break

		when 'close'
			svg( class="icon-close" x="0px" y="0px" width="14px" height="14px" viewBox="0 0 224.512 224.512" )
				polygon( fill="#d38b10" points="224.507,6.997 217.521,0 112.256,105.258 6.998,0 0.005,6.997 105.263,112.254 0.005,217.512 6.998,224.512 112.256,119.24 217.521,224.512 224.507,217.512 119.249,112.254" )
			- break

		when 'arrow-right'
			svg( class="icon-arrow-right" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 511.949 511.949" )
				path( fill="#d38b10" d="M386.235,248.308L140.902,2.975c-4.267-4.053-10.987-3.947-15.04,0.213c-3.947,4.16-3.947,10.667,0,14.827l237.76,237.76 l-237.76,237.867c-4.267,4.053-4.373,10.88-0.213,15.04c4.053,4.267,10.88,4.373,15.04,0.213c0.107-0.107,0.213-0.213,0.213-0.213 l245.333-245.333C390.395,259.188,390.395,252.468,386.235,248.308z" )
			- break

		when 'arrow-left'
			svg( class="icon-arrow-left" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 511.641 511.641" )
				path( fill="#d38b10" d="M148.32,255.76L386.08,18c4.053-4.267,3.947-10.987-0.213-15.04c-4.16-3.947-10.667-3.947-14.827,0L125.707,248.293 c-4.16,4.16-4.16,10.88,0,15.04L371.04,508.667c4.267,4.053,10.987,3.947,15.04-0.213c3.947-4.16,3.947-10.667,0-14.827 L148.32,255.76z" )
			- break

		when 'full-screen'
			svg( class="full-screen-on" width="20px" height="20px" viewBox="0 0 904 904")
				g( fill="#d38b10" )
					path( d="M328.4,0 C295.9,0 263.4,0 230.9,0 C179.1,0 127.4,0 75.6,0 C63.7,0 51.9,0 40,0 C18.4,0 -2.84217094e-14,18.3 -2.84217094e-14,40 C-2.84217094e-14,72.5 -2.84217094e-14,105 -2.84217094e-14,137.5 C-2.84217094e-14,189.3 -2.84217094e-14,241 -2.84217094e-14,292.8 C-2.84217094e-14,304.7 -2.84217094e-14,316.5 -2.84217094e-14,328.4 C-2.84217094e-14,349.3 18.4,369.4 40,368.4 C61.7,367.4 80,350.8 80,328.4 C80,295.9 80,263.4 80,230.9 C80,179.1 80,127.4 80,75.6 C80,63.7 80,51.9 80,40 C66.7,53.3 53.3,66.7 40,80 C72.5,80 105,80 137.5,80 C189.3,80 241,80 292.8,80 C304.7,80 316.5,80 328.4,80 C349.3,80 369.4,61.6 368.4,40 C367.4,18.4 350.8,0 328.4,0 L328.4,0 Z")
					path( d="M352.2,295.7 C342.7,286.2 333.3,276.8 323.8,267.3 C301.2,244.7 278.6,222.1 256.1,199.6 C228.8,172.3 201.5,145 174.2,117.7 C150.5,94 126.8,70.3 103.1,46.6 C91.6,35.1 80.4,23.5 68.7,12.2 C68.5,12 68.4,11.9 68.2,11.7 C53.4,-3.1 26.2,-4.2 11.6,11.7 C-3.1,27.7 -4.2,52.5 11.6,68.3 C21.1,77.8 30.5,87.2 40,96.7 C62.6,119.3 85.2,141.9 107.7,164.4 C135,191.7 162.3,219 189.6,246.3 C213.3,270 237,293.7 260.7,317.4 C272.2,328.9 283.4,340.5 295.1,351.8 C295.3,352 295.4,352.1 295.6,352.3 C310.4,367.1 337.6,368.2 352.2,352.3 C366.9,336.3 368,311.5 352.2,295.7 L352.2,295.7 Z")
					path( d="M575.6,904 C608.1,904 640.6,904 673.1,904 C724.9,904 776.6,904 828.4,904 C840.3,904 852.1,904 864,904 C885.6,904 904,885.7 904,864 C904,831.5 904,799 904,766.5 C904,714.7 904,663 904,611.2 C904,599.3 904,587.5 904,575.6 C904,554.7 885.6,534.6 864,535.6 C842.3,536.6 824,553.2 824,575.6 C824,608.1 824,640.6 824,673.1 C824,724.9 824,776.6 824,828.4 C824,840.3 824,852.1 824,864 C837.3,850.7 850.7,837.3 864,824 C831.5,824 799,824 766.5,824 C714.7,824 663,824 611.2,824 C599.3,824 587.5,824 575.6,824 C554.7,824 534.6,842.4 535.6,864 C536.6,885.6 553.2,904 575.6,904 L575.6,904 Z")
					path( d="M551.8,608.3 C561.3,617.8 570.7,627.2 580.2,636.7 C602.8,659.3 625.4,681.9 647.9,704.4 C675.2,731.7 702.5,759 729.8,786.3 C753.5,810 777.2,833.7 800.9,857.4 C812.4,868.9 823.6,880.5 835.3,891.8 C835.5,892 835.6,892.1 835.8,892.3 C850.6,907.1 877.8,908.2 892.4,892.3 C907.1,876.3 908.2,851.5 892.4,835.7 C882.9,826.2 873.5,816.8 864,807.3 C841.4,784.7 818.8,762.1 796.3,739.6 C769,712.3 741.7,685 714.4,657.7 C690.7,634 667,610.3 643.3,586.6 C631.8,575.1 620.6,563.5 608.9,552.2 C608.7,552 608.6,551.9 608.4,551.7 C593.6,536.9 566.4,535.8 551.8,551.7 C537.1,567.7 536,592.5 551.8,608.3 L551.8,608.3 Z")
			svg( class="full-screen-off" width="20px" height="20px" viewBox="0 0 904 904" )
				g( fill="#d38b10" )
					path( d="M328.43582,0.0358198718 C350.03582,-0.964180128 368.43582,19.1358199 368.43582,40.0358199 L368.43582,40.0358199 L368.43582,328.43582 C368.43582,336.006938 366.195973,343.16417 362.361851,349.274689 C360.81288,351.9108 358.96732,354.41582 356.83582,356.73582 C351.15883,362.918296 343.576812,366.530497 335.559492,367.766427 C333.239561,368.205735 330.857807,368.43582 328.43582,368.43582 L328.43582,368.43582 L40.0358199,368.43582 C17.6358199,368.43582 1.03581987,350.03582 0.0358198718,328.43582 C-0.964180128,306.83582 19.1358199,288.43582 40.0358199,288.43582 L40.0358199,288.43582 L231.935,288.435 L16.2358199,72.7358199 C0.593819872,57.0938199 1.51550987,32.6309199 15.7989032,16.6184421 L16.2358199,16.1358199 C30.8358199,0.235819872 58.0358199,1.33581987 72.8358199,16.1358199 L72.8358199,16.1358199 L73.3358199,16.6358199 C85.0358199,27.9358199 96.2358199,39.5358199 107.73582,51.0358199 L107.73582,51.0358199 L288.435,231.735 L288.43582,40.0358199 C288.43582,17.8598199 306.37165,1.36839987 327.785855,0.0704900718 Z")
					path( d="M863.96418,535.56418 C886.36418,535.56418 902.96418,553.96418 903.96418,575.56418 C904.96418,597.16418 884.86418,615.56418 863.96418,615.56418 L863.96418,615.56418 L672.06318,615.56318 L887.76418,831.26418 C903.40618,846.90618 902.48449,871.36908 888.201097,887.381558 L887.76418,887.86418 C873.16418,903.76418 845.96418,902.66418 831.16418,887.86418 L831.16418,887.86418 L830.66418,887.36418 C818.96418,876.06418 807.76418,864.46418 796.26418,852.96418 L796.26418,852.96418 L615.56318,672.26318 L615.56418,863.96418 C615.56418,886.14018 597.62835,902.6316 576.214145,903.92951 L575.56418,903.96418 C553.96418,904.96418 535.56418,884.86418 535.56418,863.96418 L535.56418,863.96418 L535.56418,575.56418 C535.56418,567.996768 537.801835,560.842836 541.63252,554.734285 C543.182683,552.095223 545.030118,549.586969 547.16418,547.26418 C552.84117,541.081704 560.423188,537.469503 568.440508,536.233573 C570.760439,535.794265 573.142193,535.56418 575.56418,535.56418 L575.56418,535.56418 Z")
			- break
		when 'chevron-down'
			svg( width="22" height="12" viewBox="0 0 22 12" fill="none")
				path( d="M21 1L11 11L1 1" stroke="black" )


		default
			p select icon name