section.section-chart {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0.5rem 0;

	.section-chart {
		
		&__content,
		&__filter {
			position: relative;
		}

		&__content {
			flex-grow: 1;
			align-self: stretch;
		}

		&__filter {
			flex-shrink: 1;
			padding-left: 1rem;
		}
	}

	#compensation-graph {
		> ul {
			margin: 0;
			list-style: none;
		}

		.cg-group {
			list-style: none;
		}

		.cg-li {
			user-select: none;

			margin: 0 0 0.5rem 0;
			padding: 0.5rem;
			cursor: pointer;

			&:nth-child(odd) {
				background-color: $table-row-gray;
			}

			> div {
				display: flex;
			}

			.left-content,
			.right-content {
				display: inline-block;
				vertical-align: middle;
			}

			.left-content {
				text-align: left;
				width: 29.5%;
				flex-grow: 0;
				label {
					display: block;
					user-select: none;

					&.lbl-title {
						font-size: 0.9rem;
					}
					&.lbl-subtitle {
						font-size: small;
						color: gray;
						margin-top: 0.25rem;
					}
					cursor: pointer;
				}
				cursor: pointer;
			}
			.right-content {
				// width: 70%;
				flex-grow: 1;
			}

			&__primary {
			}

			&__secondary {
			}

			&.highlighted {
				background-color: rgb(255, 255, 247);
				border: solid 1px rgb(246, 232, 191);
				border-radius: 3px;
			}

			&:not(.highlighted) {
				.cg-li__subcontent {
					display: none;
				}
			}

			&__subcontent {
				li:nth-child(odd),
            // background-color: $white;
        li:nth-child(even) {
					// background-color: $table-row-gray;
					background-color: transparent;
				}
			}

			svg {
				path.domain {
					stroke-width: 0.1;
					shape-rendering: crispEdges;
				}
				max-height: 50px;
			}
		}

		.cg-li__subcontent {
			margin-top: 0.5rem;
			.cg-group {
				padding: 0;
				margin: 0rem;
				width: 100%;

				.cg-li {
					padding: 0.5rem 0;
					margin: 0;
					.left-content {
						padding-left: 0.75rem;
					}
				}
			}
		}
	}

	#truncated-comp {
		display: none;
		&.visible {
			display: block;
		}
		.chart-section {
			margin: 1rem 0;
			&--bottom {
				margin: 3rem 0 1rem 0;
			}
		}
	}
	#all-comp {
		display: none;
		&.visible {
			display: block;
		}
	}
}

.filter {

	&__section {
		background-color: $bg-gray;
		margin-bottom: 1rem;
		padding: 0.85rem 1rem;
		border-radius: 6px;
	}

	.fi {
		margin-bottom: 0.85rem;

		label {
			display: block;
			margin: 0.5rem 0;
		}
		.single-dropdown {
			select {
				width: 100%;
			}
		}
		.checkbox {

		}

		&--checkbox {
			label {
				position: relative;
				padding-left: 1.5rem;
			}
			.checkbox {
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
}

.section-map {
	flex-grow: 1;
	align-self: stretch;
	position: relative;
	height: calc(100vh - 10rem);

	#commutation-map {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
	}

	#filter {
		position: absolute;
		right: 1rem;
		top: 1rem;

		.fi label {
			color: #ffffff;
		}

		.filter__section {
			background-color: rgba(25,26,26, 0.5);
		}
	}

}