extends templates/page
//- +icon('i_logo')

block variables
	- var title = '2020 UXR Salary Survey'

block content
	div( data-barba="container" data-barba-namespace="index" )
		.page-wrapper
			.container
				section.section.section-legend.isVisible
					.row.legend
						.col
							h3 Summary
							p By clustering respondents into cities and metropolitan areas, we are able to better compare their salaries, as well as cost-of-living expenses. An average cost-of-living city in the U.S. would be Dallas, TX or Spokane, WA. Internationally, average-cost-of-living is found in cities such as Tel-Aviv, Isreal or Copenhagen, Denmark.

						.col
							h3 Legend
							ul.legend
								li
									img( src="./static/images/legend/box-1.png" style='width:80px;')
									span Medians of quintiles
								li
									img( src="./static/images/legend/box-2.png" style='width:80px;')
									span Average salary amount
								li
									img( src="./static/images/legend/box-3.png" style='width:80px;')
									span Boundaries of quintiles

				section.section.section-chart
					#compensation-graph.section-chart__content
						#truncated-comp
							.chart-legend
							h3.chart-section Top Five
							#top-5
							h3.chart-section.chart-section--bottom Bottom Five
							#bottom-5
							.chart-legend
						#all-comp
					#filter.section-chart__filter.filter
						.filter__section
							.fi.fi--single-dropdown
								label Calculate
								.single-dropdown
									select(data-metric="calculate")
										option(value="base_usd") Base Salary Only
										option(value="total_compensation") Total Compensation
							.fi.fi--single-dropdown
								label Currency
								.single-dropdown
									select(data-metric="currency")
							.fi.fi--checkbox
								label Adjust for Cost of Living
									.checkbox
										input(type="checkbox" data-metric="adjust")

						.filter__section
							.fi.fi--single-dropdown
								label Primary
								.single-dropdown
									select(data-metric="primary")
										option(value="United States") Metro Areas (US Only)
										option(value="International") International
							.fi.fi--single-dropdown
								label Secondary
								.single-dropdown
									select(data-metric="secondary")
										option(value="Education") Education
										option(value="Experience") Experience
										option(value="Employment Status") Employment Status
										option(value="Company Type") Company Type
										option(value="Industry") Industry
										option(value="Team Size") Team Size
										option(value="Gender") Gender
							.fi.fi--checkbox
								label Truncate results
									.checkbox
										input(type="checkbox" data-metric="truncate-results")
