extends templates/page
//- +icon('i_logo')

block variables
	- var title = '2020 UXR Salary Survey'

block content
	div( data-barba="container" data-barba-namespace="index" )
		.page-wrapper
			.container
				section.section.section-legend
					.row
						.col
							h3 Summary
							p By clustering respondents into cities and metropolitan areas, we are able to better compare their salaries, as well as cost-of-living expenses. An average cost-of-living city in the U.S. would be Dallas, TX or Spokane, WA. Internationally, average-cost-of-living is found in cities such as Tel-Aviv, Isreal or Copenhagen, Denmark.

						.col
							h3 Legend
							ul
								li Medians of quintiles
								li Average salary amount
								li Boundaries of quintiles

				section.section.section-chart