button.toggle-legend{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #939393;
	height: 28px;
	width: 28px;
	border-radius: 4px;
	svg{
		stroke: #939393;
	}

	&:hover{
		border-color: $gold;
		svg{
			stroke: $gold;
		}
	}
}
