header.header{
	// layout
	.row{
		justify-content: space-between;
		border-bottom: 1px solid $black;
		.col{
			justify-content: center;
		}
	}

	// components
	.wrapper-logo{
		display: flex;
		align-items: center;
	}
	.logo{
		display: flex;
		align-items: center;
		.logo-text{
			display: flex;
			flex-direction: column;
			span:nth-child(2){
				color: $gold;
			}
		}
	}

	nav{
		ul.menu{
			display: flex;
			margin-left: -10px;
			margin-right: -10px;;
			li{
				font-size: 24px;
				&:hover{
					color: $gold;
				}
				a{
					padding: 0 10px;
				}
			}
		}
	}
}
