header.header
	.container
		.row
			.col
				//- LOGO
				.wrapper-logo
					a.logo(href="https://uxrcollective.com", target='_blank')
						img( src="./static/images/logo1.png" )
					a.logo(href="https://gauge.io", target='_blank')
						img( src="./static/images/logo2.png" )
						.logo-text
							span 2020 UXR Salary Survey
							span a(href='medium.com/p/2a4c0ba13123', target='_blank') Writeup and analysis
			.col
				//- MENU
				nav
					ul.menu
						li( data-page="compensation" )
							a(href="/") Compensation
						li( data-page="commutation" )
							a(href="/commutation.html") Commutation
						li( data-page="correlation" )
							a(href="/correlation.html") Correlation

				button.toggle-legend#toggle-legend
					+icon('chevron-down')
