header.header
	.container
		.row
			.col
				//- LOGO
				.wrapper-logo
					a.logo(href="/")
						img( src="./static/images/logo1.png" )
					a.logo(href="/")
						img( src="./static/images/logo2.png" )
						.logo-text
							span 2020 UXR Salary Survey
							span Writeup and analysis
			.col
				//- MENU
				nav
					ul.menu
						li
							a(href="/") Compensation
						li
							a(href="/commutation.html") Commutation
						li
							a(href="/correlation.html") Correlation

